<!DOCTYPE html>
    <html>
    <head>
          <title>Dublin Bikes Occupancy</title>
          <meta charset="UTF-8">
          <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header class="header">
        <h1><b>Dublin</b>Bikes | <span>Occupancy Data</span></h1>
      </header>
        <section class="instructions">
        <h2> Select station to view current occupancy</h2>
          {{sndmap.js}}
          {{sndmap.html}}
      </section>
    </body>
    </html>
