html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 42px;
  color: white;
  font-weight: 300;
  margin: 0;
  line-height: 61px;
}
.header {
  position:fixed;
  z-index: 1000;
  display: inline-block;
  height: 70px;
  width: 100%;
  padding: 0;
  background: #1D3649;
}
