html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 52px;
  color: white;
  font-weight: 300;
  margin: 0;
  line-height: 61px;

}
span {
  font-size: 31px;
}
h2 {
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-align: left;
    padding: 30px;
    padding-left: 0px;
    padding-bottom: 20px;
}
h3 {
  background-color: white;
  border: solid 5px #999999;
  width: 150px;
  height: 150px;
  margin-right: 40px;
  float:right;
  text-align: center;
  font-weight: 300;
  margin-top: 0;
  font-size: 16px;
}
.header {
  z-index: 1000;
  display: inline-block;
  height: 150px;
  width: 100%;
  padding: 0;
  background: #008080;
}
#currentWeather {

  background-color: white;
  border: solid 5px #999999;
  width: 150px;
  height: 150px;
  margin-right: 40px;
  float:right;
  text-align: center;
  margin-top: 0;
}

#sndmap { height:800px;width:800px;margin:0; }

#barchart {
  padding: 5;
}

#hourlybarchart {
  padding: 5;
}
